 


 
<header class="row m-0 p-0">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light shadow col-md-10  offset-md-1 px-0 px-md-0 ">
        <div class="container-fluid  ">
            <a class="navbar-brand text-info" href="#">Favour Woboh</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            
                <div class="navbar-nav ms-auto">
                
                            <a href="#" class="nav-link text-info">home</a>
                            <a href="#aboutMe" target="aboutMe" class="nav-link text-info">about me</a>
                            <a href="#projects" class="nav-link text-info">projects</a>
                
                            <a href="#contactMe" class="nav-link text-info">contact</a>
                
                    
                
                </div>
                
            </div>
        </div>
    </nav>
</header>




